.intro{
    background-color:blueviolet;
    text-align: center;
}
.intro h1{
    color: red;
}
.picone{
    text-align: center;
    background-color: greenyellow;
    padding-top:2em;
    padding-bottom:2em;
}
.pictwo{
    text-align: center;
    background-color: greenyellow;
    padding-top:2em;
    padding-bottom:2em;
}
.picthree{
    text-align: center;
    background-color: greenyellow;
    padding-top:2em;
    padding-bottom:2em;
}
.picfour{
    text-align: center;
    background-color: greenyellow;
    padding-top:2em;
    padding-bottom:2em;
}
.picfive{
    text-align: center;
    background-color: greenyellow;
    padding-top:2em;
    padding-bottom:2em;
}
.picsix{
    text-align: center;
    background-color: greenyellow;
    padding-top:2em;
    padding-bottom:2em;
}
.picseven{
    text-align: center;
    background-color: greenyellow;
    padding-top:2em;
    padding-bottom:2em;
}
.piceight{
    text-align: center;
    background-color: greenyellow;
    padding-top:2em;
    padding-bottom:2em;
}
.picnine{
    text-align: center;
    background-color: greenyellow;
    padding-top:2em;
    padding-bottom:2em;
}
.picten{
    text-align: center;
    background-color: greenyellow;
    padding-top:2em;
    padding-bottom:2em;
}
.piceleven{
    text-align: center;
    background-color: greenyellow;
    padding-top:2em;
    padding-bottom:2em;
}
.buttonone{
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-right: 1.5em;
    padding-left: 1.5em;
    margin-left:52em;
    color: black;
    background-color: orange;
}
.Stuffsix{
    background-color: greenyellow;
}